$footer-background: #242D37;
$white-color: #fff;
$text-color: #3B3B3B;
$darker-color: #000;
$lines-color: #D9DADC;
$white-color: #fff;
$accent-blue-color: #2BBEEC;
$cards-shadow: 0 0 0 5px rgba(0,0,0,.5);

footer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background: $footer-background;
    color: $white-color;
    padding: 2em;
}

.top-container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    section {
        width: 15vw;
        display: flex;
        justify-content: flex-start;
        flex-flow: column wrap;
        line-height: 1.8rem;

        div {
            display: inline-block;
            text-transform: uppercase;
            font-weight: 500;
            color: rgba($white-color, .5);
            margin: 2vh 0;
            user-select: none;
        }
    
        ul {
            display: inline-block;
            font-size: .9rem;

            a {
                text-transform: capitalize;
                cursor: pointer;

                &:hover {
                    color: $accent-blue-color;
                }
            }
        }

        p {
            text-align: start;
        }

        label {
            margin: .5em 0;
        }

        input {
            padding: .5em 2.3em .5em .3em;
            border-style: none;
            border: none;
            border-radius: 3px;
            box-sizing: border-box;

            &:hover, &:active, &:focus {
                border: none;
                outline-color: $accent-blue-color;
                box-shadow: 0 0 5px 3px rgba($accent-blue-color, .9);
            }

            &::placeholder {
                background: $white-color;
                font-size: .9rem;
                font-weight: 500;
            }
        }

        .input-container {
            position: relative;

            button {
                width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-style: none;
                border: none;
                border-radius: 3px;
                padding: 5px;
                background: $accent-blue-color;
                position: absolute;
                bottom: 2px;
                right: 3px;

                &:hover {
                    box-shadow: 0 0 5px 1px rgba($accent-blue-color,.5);
                }
    
                svg {
                    width: 30px;
                    fill: $white-color;
                }
            }
        }

        
    }
}

.base-container {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap-reverse;

    .logo-base {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;

        div {
            color: $accent-blue-color;
        }
    
        .svg {
            display: inline-block;
            width: 30px;
            fill: #2BBEEC;
            order: -1;
        }
    }

    .social-media{
        display: flex;
        justify-content: space-evenly;
        gap: 3em;

        div {
            position: relative;

            .social-media_svg {
                width: 18px;
                fill: $accent-blue-color;
                position: absolute;
                bottom: 8px;
                left: -25px;
            }
        }

        a {
            text-decoration: none;
            color: $white-color;
    
            &:hover {
                color: $accent-blue-color;
                transform: translateY(1rem);
                transition: all .3s ease;
            }
        }
    }
}