header {
  border-bottom: 1.5px solid #D9DADC;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2vh 5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
  line-height: calc(5vh + 3vh);
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: .5rem;
}

header nav .logo div {
  color: #2BBEEC;
}

header nav .logo svg {
  display: inline-block;
  width: 30px;
  fill: #2BBEEC;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}

header nav .nav-list li {
  cursor: pointer;
}

header nav .nav-list li:hover {
  color: #2BBEEC;
}

header nav .nav-list li a {
  text-decoration: none;
  color: #3B3B3B;
}

header nav .nav-list li a:hover {
  color: #2BBEEC;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
}

header nav .buttons button {
  background: none;
  border-style: none;
  border: 1px solid #D9DADC;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

header nav .buttons button:hover {
  background-color: #2BBEEC;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header nav .buttons button:active {
  outline: none;
}

::-webkit-scrollbar {
  background: #242D37;
  width: .5em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(43, 190, 236, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2BBEEC;
}

.welcome-message {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.welcome-message h1, .welcome-message p {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 3em;
  left: auto;
  z-index: 1;
}

.welcome-message p {
  font-size: 1.5rem;
  line-height: 2rem;
  top: 8em;
}

.welcome-message img {
  max-width: 100%;
  display: inline-block;
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 5%;
  margin: 2em 5%;
}

.aside-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1em;
}

.aside-container div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aside-container div h2 {
  text-transform: uppercase;
  font-size: .9;
  font-weight: 500;
  border-bottom: 1px solid #D9DADC;
  padding-bottom: .5em;
}

.aside-container div a {
  padding: .5rem 2rem;
  margin: .3em 0;
  border-radius: 0 3px 3px 0;
  font-weight: 500;
}

.aside-container div a:hover {
  border-left: 5px solid #2BBEEC;
  background: rgba(0, 0, 0, 0.1);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.aside-container div input[type="range"] {
  margin: .5rem;
}

.aside-container .search-container {
  position: relative;
  gap: 1em;
}

.aside-container .search-container input {
  padding: .5em 2.3em .5em .3em;
  border-style: none;
  border: 1px solid #D9DADC;
  border-radius: 3px;
  position: relative;
}

.aside-container .search-container input:active, .aside-container .search-container input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.9);
          box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.9);
}

.aside-container .search-container input::-webkit-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.aside-container .search-container input:-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.aside-container .search-container input::-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.aside-container .search-container input::placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.aside-container .search-container button {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background: #3B3B3B;
  position: absolute;
  bottom: 3px;
  right: 3px;
}

.aside-container .search-container button:active {
  background: #000;
  -webkit-box-shadow: 0 0 5px 1px rgba(43, 190, 236, 0.5);
          box-shadow: 0 0 5px 1px rgba(43, 190, 236, 0.5);
  opacity: .5;
}

.aside-container .search-container button:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.aside-container .search-container button svg {
  width: 30px;
  fill: #fff;
}

.aside-container .developedby-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.aside-container .developedby-container label {
  font-weight: 500;
}

.aside-container .developedby-container input {
  margin-right: .5em;
}

.center-container {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
}

.center-container .upper-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  gap: 5em;
  border-bottom: 1px solid #D9DADC;
  padding-bottom: 1em;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.center-container .upper-container div label {
  font-weight: 500;
  margin-right: .5em;
}

.center-container .upper-container div select {
  padding: .8rem;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  outline: none;
  border: 1px solid #D9DADC;
  border-radius: 3px;
}

.center-container .upper-container div select option {
  line-height: 2rem;
  padding: 3em;
}

.center-container .upper-container .sortbylicence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border: 1px solid #D9DADC;
  border-radius: 3px;
}

.center-container .upper-container .sortbylicence a {
  padding: 1rem;
  background-color: #fff;
  text-transform: uppercase;
  border: none;
  font-weight: 500;
}

.center-container .upper-container .sortbylicence a:hover {
  background: #2BBEEC;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.center-container .middle-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 2em;
}

.center-container .middle-container .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  width: 16em;
  border: 1px solid #D9DADC;
  border-radius: 3px;
  margin-top: 2em;
}

.center-container .middle-container .card-container:hover {
  -webkit-box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-0.2em);
          transform: translateY(-0.2em);
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.center-container .middle-container .card-container .card-preview {
  width: inherit;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 3px 3px 0 0;
}

.center-container .middle-container .card-container .card-preview a, .center-container .middle-container .card-container .card-preview img {
  width: inherit;
  border-bottom: 1px solid #D9DADC;
  border-radius: inherit;
}

.center-container .middle-container .card-container .card-preview a:hover, .center-container .middle-container .card-container .card-preview img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
}

.center-container .middle-container .card-container .card-details {
  border-bottom: 1px solid #D9DADC;
}

.center-container .middle-container .card-container .card-details p {
  margin: 0 .5em;
  font-weight: 500;
  line-height: 2rem;
  text-transform: capitalize;
}

.center-container .middle-container .card-container .card-additions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: .5rem 0;
}

.center-container .middle-container .card-container .card-additions div {
  font-weight: 500;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  background: #242D37;
  color: #fff;
  padding: 2em;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.top-container section {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  line-height: 1.8rem;
}

.top-container section div {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  margin: 2vh 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top-container section ul {
  display: inline-block;
  font-size: .9rem;
}

.top-container section ul a {
  text-transform: capitalize;
  cursor: pointer;
}

.top-container section ul a:hover {
  color: #2BBEEC;
}

.top-container section p {
  text-align: start;
}

.top-container section label {
  margin: .5em 0;
}

.top-container section input {
  padding: .5em 2.3em .5em .3em;
  border-style: none;
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-container section input:hover, .top-container section input:active, .top-container section input:focus {
  border: none;
  outline-color: #2BBEEC;
  -webkit-box-shadow: 0 0 5px 3px rgba(43, 190, 236, 0.9);
          box-shadow: 0 0 5px 3px rgba(43, 190, 236, 0.9);
}

.top-container section input::-webkit-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input:-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input::-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input::placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section .input-container {
  position: relative;
}

.top-container section .input-container button {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background: #2BBEEC;
  position: absolute;
  bottom: 2px;
  right: 3px;
}

.top-container section .input-container button:hover {
  -webkit-box-shadow: 0 0 5px 1px rgba(43, 190, 236, 0.5);
          box-shadow: 0 0 5px 1px rgba(43, 190, 236, 0.5);
}

.top-container section .input-container button svg {
  width: 30px;
  fill: #fff;
}

.base-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
}

.base-container .logo-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.base-container .logo-base div {
  color: #2BBEEC;
}

.base-container .logo-base .svg {
  display: inline-block;
  width: 30px;
  fill: #2BBEEC;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.base-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 3em;
}

.base-container .social-media div {
  position: relative;
}

.base-container .social-media div .social-media_svg {
  width: 18px;
  fill: #2BBEEC;
  position: absolute;
  bottom: 8px;
  left: -25px;
}

.base-container .social-media a {
  text-decoration: none;
  color: #fff;
}

.base-container .social-media a:hover {
  color: #2BBEEC;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */