header {
  border-bottom: 1.5px solid #D9DADC;
  font-size: .9rem;
  font-weight: 500;
  text-transform: uppercase;
  padding: 2vh 5vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: auto 0;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto 0;
  line-height: calc(5vh + 3vh);
}

header nav .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: .5rem;
}

header nav .logo div {
  color: #2BBEEC;
}

header nav .logo svg {
  display: inline-block;
  width: 30px;
  fill: #2BBEEC;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

header nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5rem;
}

header nav .nav-list li {
  cursor: pointer;
}

header nav .nav-list li:hover {
  color: #2BBEEC;
}

header nav .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 1rem;
}

header nav .buttons button {
  background: none;
  border-style: none;
  border: 1px solid #D9DADC;
  padding: 0 10px;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
}

header nav .buttons button:hover {
  background-color: #2BBEEC;
  color: #fff;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

header nav .buttons button:active {
  outline: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  background: #242D37;
  color: #fff;
  padding: 2em;
}

.top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.top-container section {
  width: 15vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  line-height: 1.8rem;
}

.top-container section div {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.5);
  margin: 2vh 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.top-container section ul {
  display: inline-block;
  font-size: .9rem;
}

.top-container section ul li {
  text-transform: capitalize;
  cursor: pointer;
}

.top-container section ul li:hover {
  color: #2BBEEC;
}

.top-container section p {
  text-align: start;
}

.top-container section label {
  margin: .5em 0;
}

.top-container section input {
  padding: .5em 2.3em .5em .3em;
  border-style: none;
  border: none;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.top-container section input:hover, .top-container section input:active, .top-container section input:focus {
  border: none;
  outline-color: #2BBEEC;
  -webkit-box-shadow: 0 0 5px 3px rgba(43, 190, 236, 0.9);
          box-shadow: 0 0 5px 3px rgba(43, 190, 236, 0.9);
}

.top-container section input::-webkit-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input:-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input::-ms-input-placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section input::placeholder {
  background: #fff;
  font-size: .9rem;
  font-weight: 500;
}

.top-container section .input-container {
  position: relative;
}

.top-container section .input-container button {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-style: none;
  border: none;
  border-radius: 3px;
  padding: 5px;
  background: #2BBEEC;
  position: absolute;
  bottom: 2px;
  right: 3px;
}

.top-container section .input-container button svg {
  width: 30px;
  fill: #fff;
}

.base-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap-reverse;
          flex-flow: row wrap-reverse;
}

.base-container .logo-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.base-container .logo-base div {
  color: #2BBEEC;
}

.base-container .logo-base .svg {
  display: inline-block;
  width: 30px;
  fill: #2BBEEC;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.base-container .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 3em;
}

.base-container .social-media div {
  position: relative;
}

.base-container .social-media div .social-media_svg {
  width: 18px;
  fill: #2BBEEC;
  position: absolute;
  bottom: 8px;
  left: -25px;
}

.base-container .social-media a {
  text-decoration: none;
  color: #fff;
}

.base-container .social-media a:hover {
  color: #2BBEEC;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=main.css.map */